@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin animated($name:fadeIn, $count: 1, $delay:0, $duration: .64s, $timing: linear) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-iteration-count: $count;
  animation-name: $name;
  animation-timing-function: $timing;
}

@mixin transition($property:color, $speed:.32s, $ease:ease) {
  transition: $property $speed $ease;
}
