@import 'animations.scss';
@import 'layout.scss';
@import 'typography.scss';
@import 'variables.scss';

.floatedLabel {
  margin-bottom: units(6);
  padding-top: units(4);
  position: relative;
  text-align: left;

  @include transition(margin);

  label {
    color: $white-muted;
    position: absolute;
    top: units(4);

    @include text(xs);
    @include transition($property:top);
  }

  input {
    border-bottom: units(.5) solid $white-muted;
    width: 100%;

    @include transition(border-color);

    &:focus {
      border-color: $white;
    }

    &:focus + label {
      text-transform: uppercase;
      top: 0;

      @include text(tn);
    }
  }

  .floatedLabel__error {
    color: $red;
    bottom: units(-5);
    position: absolute;
    text-transform: uppercase;
    opacity: 0;

    @include text(tn);
    @include transition(opacity);
  }

  &.is-invalid,
  &.is-valid {

    label {
      text-transform: uppercase;
      top: 0;

      @include text(tn);
    }
  }

  &.is-invalid {
    margin-bottom: units(10);

    input {
      border-color: $red;
    }

    .floatedLabel__error {
      opacity: 1;
    }
  }

  &.is-valid {

    input {
      border-color: $green;
    }
  }
}
