@import 'variables.scss';

// Spacing
@function parse-int($n) {
  @return $n / ($n * 0 + 1);
}

$rem-size-int: parse-int($rem-size);

@function units($n) {
  @return $n * ( 4/$rem-size-int ) * 1rem;
}

@mixin flex-container($direction:row, $justify:space-between, $align: center) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $justify;
  align-items: $align;
}

// Responsive
$breakpoints:  (
  "small": "screen and (max-width: 736px)",
  "medium": "screen and (min-width: 737px) and (max-width: 1439px)",
  "medium-up": "screen and (min-width: 737px)",
  "large": "screen and (min-width: 1440px)"
);

@mixin media($viewport) {

  $query: map-get($breakpoints, $viewport);

  @if $query {
    @media #{$query} {
      @content;
    }
  }

  @else {
    @error "No breakpoint found for #{$alias}";
  }
}
