@import url('https://fonts.googleapis.com/css?family=Hind');
@import 'typography.scss';
@import 'variables.scss';

* {
  border: 0;
  font-size: 100%;
  font-family: $font-family;
  font-weight: $fw-light;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::before {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: $rem-size;
}

body {
  background-color: $navy;
  color: $white;
  height: 100vh;
  line-height: 1;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $rem-size;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $white;
  display: block;
  margin: 0;
  overflow: visible;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {

  &::-webkit-input-placeholder {
    color: $white-muted;
  }

  &:-ms-input-placeholder {
    color: $white-muted;
  }

  &::-ms-input-placeholder {
    color: $white-muted;
  }

  &:-moz-placeholder {
    color: $white-muted;
  }

  &::-moz-placeholder {
    color: $white-muted;
  }
}

input[type=search] {
  -webkit-appearance: textfield;
}

input:focus,
input:active {
  outline: 0;
}

::-webkit-search-decoration {
  display: none;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

select[multiple] {
  vertical-align: top;
}
