$font-family: 'Hind', sans-serif;

$fw-light:     300;
$fw-semibold:  600;

$fs-xl:       2rem; // 32px
$fs-lg:     1.5rem; // 24px
$fs-md:    1.25rem; // 20px
$fs-sm:   1.125rem; // 18px
$fs-xs:       1rem; // 16px
$fs-tn:     .75rem; // 12px

$lh-xl:          1; // 32px
$lh-lg:      1.167; // 28px
$lh-md:        1.2; // 24px
$lh-sm:      1.333; // 24px
$lh-xs:        1.5; // 24px
$lh-tn:      1.167; // 14px

$font-sizes: (
  xl:      $fs-xl,
  lg:      $fs-lg,
  md:      $fs-md,
  sm:      $fs-sm,
  xs:      $fs-xs,
  tn:      $fs-tn,
);

$line-heights: (
  xl:      $lh-xl,
  lg:      $lh-lg,
  md:      $lh-md,
  sm:      $lh-sm,
  xs:      $lh-xs,
  tn:      $lh-tn,
);

$letter-spacing: .1em;

@mixin text($size) {
  font-size: map-get($font-sizes, $size);
  line-height: map-get($line-heights, $size);
}
