// Sizing
$rem-size: 16px;

// Colors
$blue: #256cff;
$green: #00d388;
$grey: #f5f9fc;
$navy: #2d2c5c;
$navy-muted: rgba($navy, .6);
$pink: #ff9eef;
$pink-light: #ffcdf9;
$purple: #6670ed;
$red: #ff6623;
$white: #fff;
$white-muted: rgba($white, .6);

// Gradients
$gradient-light: linear-gradient(320deg, $blue, $purple);
$gradient-dark: linear-gradient(320deg, $navy, $purple);
$gradient-loader: linear-gradient(90deg, $pink, $pink-light, $pink);
$gradient-button: linear-gradient(160deg, $pink-light, $pink);

// Shadows
$box-shadow-card: 0 16px 24px 0 rgba($navy, .2);
$box-shadow-main: 0 120px 120px 0 rgba($navy, 0.36);
$box-shadow-search: 0 12px 24px 0 rgba($navy, .1);
$box-shadow-footer: 0 -12px 24px 0 rgba($navy, .15);

// Radius
$radius: .25rem;
$rounded: 100%;
