@import '../../commons/animations.scss';
@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.contactCard {
  background: $grey;
  border-radius: $radius;
  box-shadow: $box-shadow-card;
  color: $navy;
  padding: units(6) units(4);

  @include animated($duration: .32s);
  @include flex-container($justify:flex-start, $align:flex-start);

  .contactCard__content {
    margin-left: units(4);
  }

  .contactCard__name {
    margin-bottom: units(2);

    @include text(sm);
  }

  .contactCard__context {
    color: $green;
    font-weight: $fw-semibold;
    letter-spacing: $letter-spacing;
    margin-bottom: units(1);
    text-transform: uppercase;

    @include text(tn);
  }

  .contactCard__number {
    color: $navy-muted;
    font-weight: $fw-light;

    @include text(lg);
  }
}
