@import '../../commons/animations.scss';
@import '../../commons/inputs.scss';
@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.newContact__toggle {
  background: $gradient-button;
  border-radius: $rounded;
  box-shadow: $box-shadow-card;
  cursor: pointer;
  width: units(16);
  height: units(16);

  svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.newContact__form {
  background: $gradient-dark;
  box-shadow: $box-shadow-footer;
  padding: units(20) units(8) units(4);

  @include media(medium-up) {
    padding: units(8) units(32);
  }

  .newContact__title {
    color: $white;
    padding: units(4) 0 units(8);
    text-align: center;

    @include text(sm);
  }

  .newContact__submit {
    color: $green;
    cursor: pointer;
    margin: units(8) auto 0;
    text-transform: uppercase;

    @include text(xs);
    @include transition();

    &:hover {
      color: $pink;
    }
  }
}
