@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.contactsInfo {
  background: $gradient-dark;
  box-shadow: $box-shadow-footer;
  color: $white-muted;
  padding: units(4) 0;
  text-align: center;

  @include text(sm);
}
