@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.inputSearch {
  background: $gradient-light;
  border-top: units(2) solid $pink;
  box-shadow: $box-shadow-search;

  .inputSearch__form {
    cursor: pointer;
    font-weight: $fw-semibold;
    padding: units(8) units(4);

    @include text(sm);
    @include flex-container();

    > input {
      width: 100%;
    }
  }

  .inputSearch__icon {
    flex-shrink: 0;
    margin-right: units(2);
  }

  .inputSearch__reset {
    cursor: pointer;
    flex-shrink: 0;
    line-height: 1;
  }
}
