@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.contactAvatar {
  background: $green;
  border-radius: $rounded;
  color: $white;
  height: units(16);
  position: relative;
  width: units(16);

  .contactAvatar__initials {
    left: 50%;
    position: absolute;
    bottom: units(3);
    transform: translateX(-50%);

    @include text(xl);
  }
}
