@import '../../commons/animations.scss';
@import '../../commons/layout.scss';
@import '../../commons/typography.scss';
@import '../../commons/variables.scss';

.contactRow {
  border-bottom: units(.25) solid $white-muted;
  cursor: pointer;

  @include animated($delay: .4s, $duration: .32s);

  .contactRow__summary {
    padding: units(6) 0 units(6) units(8);
    position: relative;

    @include text(xs);

    &::before {
      background-color: $pink;
      border-radius: $rounded;
      content: '';
      height: units(4);
      left: 0;
      position: absolute;
      top: units(6.5);
      width: units(4);
    }
  }

  .contactRow__panel {
    background: $gradient-dark;
    margin: 0 units(-4);
    padding: units(6) units(4);
  }

  &.is-expanded {
    border-bottom: none;

    .contactRow__summary {

      &::before {
        background-color: $green;

        @include transition($property: background-color);
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  @for $i from 1 through 8 {

    &:nth-child(#{$i}) {
      animation-delay: (.05s * $i);
    }
  }
}
