@import '../commons/animations.scss';
@import '../commons/layout.scss';
@import '../commons/typography.scss';
@import '../commons/variables.scss';

// Settings
$button-position-end: calc(-100vh + 7rem);
$button-position-end-md: calc(-80vh + 7rem);
$content-height-sm: 100vh;
$content-height-md: 80vh;
$content-width-sm: 100%;
$content-width-lg: units(150);
$ribbon-height: units(2);
$footer-height: units(14);
$search-height: units(25);
$layer-0: 0;
$layer-1: 10;
$layer-2: 20;
$layer-3: 30;
$layer-4: 40;
$layer-5: 50;

// Layout
body {
  @include media(medium-up) {
    background: url('commons/assets/bg.jpg') no-repeat center;
    background-size: cover;
  }
}

.mainSection {
  height: $content-height-sm;
  overflow: hidden;
  width: $content-width-sm;

  @include media(medium-up) {
    max-height: $content-height-md;
    max-width: $content-width-lg;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    box-shadow: $box-shadow-main;
  }

  main {
    height: calc(#{$content-height-sm} - #{$search-height});
    position: relative;

    @include media(medium-up) {
      height: calc(#{$content-height-md} - #{$search-height});
    }
  }

  &.has-error {
    position: relative;

    &::before {
      background: $gradient-dark;
      bottom: 0;
      color: $red;
      content: 'Oops! Something went wrong';
      font-weight: $fw-semibold;
      left: 0;
      padding-top: units(20);
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      text-transform: uppercase;
      z-index: $layer-5;

      @include animated($duration: .32s);
    }

    &::after {
      content: 'Please, reload the application.';
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: units(26);
      z-index: $layer-5;

      @include animated($duration: .32s);
    }
  }
}

// Components
.inputSearch {
  height: $search-height;
  position: relative;
  z-index: $layer-1;
}

.contactsList {
  height: 100%;
  overflow: auto;
  padding-bottom: $footer-height;
  padding-top: units(1);
  position: relative;
  z-index: $layer-0;
}

.contactsInfo {
  position: relative;
  z-index: $layer-3;
}

.newContact {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .newContact__form {
    bottom: 0;
    height: calc(#{$content-height-sm} - #{$ribbon-height});
    left: 0;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    z-index: $layer-2;

    @include transition(transform);

    @include media(medium-up) {
      height: calc(#{$content-height-md} - #{$ribbon-height});
    }
  }

  .newContact__toggle {
    position: absolute;
    right: units(4);
    top: units(-8);
    z-index: $layer-4;

    @include transition(transform);
  }

  &.is-visible {

    .newContact__toggle {
      transform: translateY($button-position-end) rotate(45deg);

      @include media(medium-up) {
        transform: translateY($button-position-end-md) rotate(45deg);
      }
    }

    .newContact__form {
      transform: translateY(0);
    }
  }
}
